osmnx
networkx
pyproj

matplotlib
geopandas
fastapi
uvicorn
pytest
httpx
python-dotenv

pydantic
pydantic-settings
uuid
opencv-python-headless
transformers
torch
pillow
plyfile
numpy
python-multipart
scipy
pybind11





